<section class="cart flex">
  <div class="basket ">
    <h1 class="fs-500">
      <span>Your Basket</span>
    </h1>
    <div class="cart-item">
      <div class="description">Flatbread - Beyond Italian Sausage Alfredo</div>
      <div class="price-tag">$7.99</div>
      <div class="cancel-section"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="cart-item">
      <div class="description">Flatbread - Italian Meats
      </div>
      <div class="price-tag">$7.99</div>
      <div class="cancel-section"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="cart-item">
      <div class="description">Flatbread - Beyond Italian Sausage Alfredo</div>
      <div class="price-tag">$7.99</div>
      <div class="cancel-section"><i class="fa-solid fa-xmark"></i></div>
    </div>
  </div>
</section>