<section class="cart flex">
  <div class="top">
    <h1 class="fs-500">
      <span>Your Basket</span>
    </h1>
    <div class="basket semi-bold"></div>
  </div>
  <div class="bottom flex">
    <div class="price-display">
      <div class="flex bold">
        <span>Subtotal</span>
        <span>$7.99</span>
      </div>
      <div class="flex fs-300">
        <span><i class="fa-solid fa-angle-right"></i> Total Tax</span>
        <span>$1.62</span>
      </div>
      <div class="flex bold">
        <span>Amount due</span>
        <span>$14.11</span>
      </div>
    </div>
    <button class="check-out"><span>Check Out</span></button>
  </div>
</section>
