<section class="cart flex">
  <div class="top">
    <h1 class="fs-500">
      <span>Your Basket</span>
    </h1>
    <div class="basket semi-bold"></div>
  </div>
  <div class="bottom flex">
    <div class="price-display">
      
    </div>
    <button class="check-out"><span>Check Out</span></button>
  </div>
</section>
