
<section class="orderStatus modal">
  <div class="status-container">
    <i class="fa-solid fa-xmark cancel-modal"></i>
    <h3>Please see Below For Your Order Status:</h3>
    <div class="order-content">

    </div>


  </div>
</section>