<section class="modal">
  <div class="form-container">
    <i class="fa-solid fa-xmark cancel-modal"></i>
    <div class="content">
      <h2>Your current Order is :</h2>
      <div class="basket"></div>
      <div class="price-display"></div>
      <form class="light-grey-text"action="">
        <input type="text" id="name" placeholder="Your Name" />
        <input type="text" id="phone" placeholder="Your Phone"/>
        <textarea id="order_notes" placeholder="Additional notes"></textarea>

        <button class="submit-order" type="submit">
          <span>Submit Order</span>
        </button>

      </form>
    </div>
  </div>
</section>
