section.cart {
  flex-direction: column;
  > * {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }

  .top {
    height: 50vh;
    overflow-y: auto;

    & > h1 {
      padding-top: 50px;
      font-weight: 800;
      text-align: center;
    }

    .basket {
      padding-top: 10px;
      flex-direction: column;

      & > * {
        width: 80%;
        display: grid;
        margin-inline: auto;
        min-height: 50px;
        grid-template-columns:4fr 2fr 1fr;
      }

      .cart-item {
        gap: 3px;
        margin-block: 5%;
        > * {
          padding-inline: 2px;
        }
        .cancel-section {
     

          i {
            color: lightgray;

            &:hover {
              cursor: pointer;
              color: black;
            }
          }
        }
      }
    }
  }
}
