.status-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;

  h3 {
    margin-bottom: 5%;
  }

  .order-content {
    > * {
      margin-bottom: 3%;
      padding: 1rem;
      border: 1px solid lightgray;
    }

    .cart-item {
      display: flex;

      > * {
        margin-right: 5%;
      }
    }
  }

  .cancel-modal {
    position: absolute;
    right: 5%;
    top: 5%;

    &:hover {
      cursor: pointer;
    }
  }
}
