section.shop {
  max-width: 900px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1%;
  padding: 1%;
  margin-inline: auto;
  margin-block: 5px;

  > .shop-item {
    flex-direction: column;
    background-color: white;
    min-height: 350px;
    flex-grow: 1;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .content {
      width:90%;
      margin:auto;
      flex-grow: 1;
    }
    button {
      margin: auto auto 5%;;
      display: flex;
      width:90%;


      .price {
        width: min-content;
      }
    }
  }
}
