@import "default.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --border-color: rgba(165, 165, 165, 0.438);
  --lato: "Lato", sans-serif;
  --secondary-color:#0a8020;

}

body {
  font-family: var(--lato);
}

button {
  width: 100%;
  border: none;
  cursor: pointer;
  color:white;
  display:flex;
  background-color:var(--secondary-color);
  border-radius:5px;
  padding-inline:5%;
  padding-block:2px;

  overflow: hidden;
  outline: none;

  span{
    width:100%;
    text-align:center;
  }

}
